.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
background-color: #2F4154;
}
.skin-black .sidebar-menu>li.active>a, .skin-black .sidebar-menu>li:hover>a
{
color: rgba(255,255,255,.8);
background: #34495E;
border-left-color: #4c4c4c;
padding: 15px 15px 15px 15px;
display: block;
border-bottom: 1px solid rgba(255,255,255,.05);
}
.skin-black .sidebar-menu>li>a{
color: rgba(255,255,255,.5);
padding: 15px 15px 15px 15px;
display: block;
border-bottom: 1px solid rgba(255,255,255,.05);
}
.box.box-solid.box-primary>.box-header {
color: #FFF;
background: #F6F6F6;
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 18px;
font-weight: normal;
}

.nav-tabs-custom>.nav-tabs>li.active:hover>a, .nav-tabs-custom>.nav-tabs>li.active>a {
background-color: #ecf0f5;
color: #444;
}

.box.box-solid.box-primary {
border: 1px solid #e9e9e9;
}

.box {
position: relative;
border-radius: 3px;
background: #fff;
margin-bottom: 20px;
width: 100%;

}
.nav-tabs-custom>.nav-tabs>li.active {
border-top-color: #34495E;
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 18px;
font-weight: normal;
font-style: italic;
background-color: #ecf0f5;
}

.nav-tabs-custom {
margin-bottom: 20px;
background: #fff;
box-shadow: 0 0px 0px rgba(0,0,0,.1);
border-radius: 3px;
}
.nav-tabs-custom>.nav-tabs {
margin: 0;
border-bottom-color: #ecf0f5;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
background-color: #ecf0f5;

}
.nav-tabs-custom>.nav-tabs>li>a, .nav-tabs-custom>.nav-tabs>li>a:hover {
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 15px;
font-weight: 500;
font-style: normal;
background: 0 0;
margin: 0;
background-color: #ecf0f5;
}
.box-header .box-title, .box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
display: inline-block;
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
margin: 0;
line-height: 1.42857;
}

.nav-tabs-custom>.tab-content {

padding: 10px;
background-color: #ecf0f5;
}

.checkbox label {
font-size: 14px;
font-weight: 100;
}
body {
font-family: "Lato", "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 14px;
font-weight: normal;

}
label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: 500;
}
.main-header .logo {
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 24px;
font-weight: normal;
}
.h1, h1 {
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 16px;
line-height: 1.1;
color: inherit;
}
.h3, h3{
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 14px;
font-weight: 700;
font-style: normal;
line-height: 1.1;
color: #626262;
}
.h2, h2{
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 14px;
font-weight: 700;
font-style: normal;
line-height: 1.1;
color: #626262;
text-transform: uppercase;
}
.h4, h4{
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 14px;
font-weight: 600;
font-style: normal;
line-height: 1.1;
color: #5B90BF;
}

.h5, h5{
font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
font-size: 14px;
font-weight: 600;
font-style: normal;
line-height: 1.1;
color: #5B90BF;
}
                                          
                                          .h6, h6{
                                          font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
                                          font-size: 13px;
                                          font-weight: normal;
                                          font-style: normal;
                                          line-height: 1.1;
                                          color: inherit;
                                          }
                                          .irs-bar {
                                          height: 8px;
                                          top: 25px;
                                          border-top: 1px solid #2F4154;
                                          border-bottom: 1px solid #2F4154;
                                          background: #2F4154;
                                          }
                                          .irs-bar-edge {
                                          height: 8px;
                                          top: 25px;
                                          width: 14px;
                                          border: 1px solid #2F4154;
                                          border-right: 0;
                                          background: #2F4154;
                                          border-radius: 16px 0 0 16px;
                                          Unknown property name.-moz-border-radius: 16px 0 0 16px;
                                          }
                                          .nav-tabs-custom>.nav-tabs>li.header {
                                          font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
                                          font-weight: 500;
                                          line-height: 35px;
                                          padding: 0 10px;
                                          font-size: 24px;
                                          font-style: normal;
                                          color: #444;
                                          }
                                          .progress-bar {
                                          float: left;
                                          width: 0;
                                          height: 100%;
                                          font-size: 12px;
                                          line-height: 20px;
                                          color: #000000;
                                          text-align: center;
                                          background: #cccccc;
                                          -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
                                          box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
                                          -webkit-transition: width .6s ease;
                                          Unknown property name.-o-transition: width .6s ease;
                                          transition: width 3s ease;
                                          }
                                          .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
                                          z-index: 2;
                                          color: #fff;
                                          cursor: default;
                                          background-color: #cccccc;
                                          border-color: #cccccc;
                                          }
                                          .sidebar {
                                          font-size: 13px;
                                          color: #444;
                                          font-weight: 700;
                                          }
                                          .selectize-input, .selectize-input input {
                                          color: #333333;
                                          font-family: inherit;
                                          font-size: inherit;
                                          line-height: 23px;
                                          
                                          }
                                          .box.box-solid.box-primary>.box-header .btn, .box.box-solid.box-primary>.box-header a {
                                          color: #34495E;}